apculdu11.php
capitalize.php
composer.json_safe
composer.lock
composer2.json
favicon.ico:Zone.Identifier
index.php_safe
index3.php
Oxford5000.txt
package-lock.json
safe.php
summary.php
.vscode/launch.json
.vscode/settings.json
js/main3.js
js/maingpt.js
include.php
